/****** GENERAL RULES *******/

html,body {
	font-size: 16px;
	font-family: 'Arial',sans-serif;
	width: 100%;
	margin: 0px 20px;
}

/****** UTILITY CLASSES *******/

.shown {
	display: block !important;
}

/***** STYLING CLASSES ******/

header {
	font-family: 'Courier New', sans-serif;
	border-bottom: 1px solid lightgray;
	letter-spacing: -2px;
}

header sup, header sub {
	font-size: 1.5rem;
	display: none;
}

#logo {
	font-size: 3.5rem;
}

#qmarks {
	display: none;
}

#main {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

#songs {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 0px;
}


.song {
	border: 1px solid black;
	height: 400px;
	width: 400px;
	opacity: 1;
	animation-name: blendIn;
	animation-duration: 3s; 
}

.overlay {
	display: none;
}

.song_title {
	margin: 50% 0;
	color: #FFF;
	text-align: center;
}

@keyframes blendIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#controls {
	min-height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	color: #FFF;
	font-size: 1.5em;
	border-radius: 3px;
	border-color: #f50;
	background-color: #f50;
	cursor: pointer;
	outline: none;
	font-weight: 700;
}

#followUs {
	padding: 5px 15px;
	font-family: 'Courier New', sans-serif;
}

footer {
	display: flex;
	align-items: center;
	margin-top: 15px;
	padding-top: 5px;
	font-size: 12px;
	border-top: 1px solid lightgray;	
}
